{{#extends 'base'}}

{{#block 'content'}}
<h1>Update Mouse: {{mouse.name}}</h1>
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    {{{form}}}
    <br/>
    <input type="submit" value="Update Product" class="btn btn-primary"/>
</form>
{{/block}}

{{/extends}}